.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* background-color: #35383c; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.valores__container {
  display: flex;
  flex-wrap: wrap;
}

.valor__container {
  margin: 15px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 40vw;
  max-width: calc(50vw - 50px);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.valor__container:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
}

.valor__title {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
}

.valor__container ul {
  list-style: none;
}

.valor__criterio {
  display: flex;
  margin: 10px 0;
}

.valor__criterio__nome {
  flex: 1;
}

div.valor__criterio__botoes {
  display: inline-block;
}

.valor__criterio__botoes button {
  border: 1px solid black;
  width: 25px;
  height: 25px;
}

.valor__criterio__botoes button:focus {
  outline:0;
}